<!-- <div class="flex flex-col min-h-screen bg-gray-100"> -->
  <div class="min-h-full bg-gray-100">
  <app-header></app-header>
  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">Ranking de Novos Emplacamentos</h1>
    </div>
</header>
  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <!-- Replace with your content -->
      <router-outlet></router-outlet>
      <!-- /End replace -->
    </div>
  </main>
  <!-- <main class="flex-1 lg:container lg:mx-auto px-2 py-2">
   
  </main> -->
  <app-footer></app-footer>
<!-- </div> -->
</div>

